.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******************************
            HEADER
******************************/
.header-container {
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: transparent;
  border: none;
  color: #1C77AB;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s; 
}

.header-button:hover {
  color: white; 
}

.header-logo {
  width: 100px; 
  height: auto;
}



/****************************
         LOGINFORM
****************************/
.login-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #182838;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
  color: white;
}




/***************************
            BODY
***************************/
.title {
  font-size: 7rem;
}

.subtitle {
  color: white;
}
.title::before {
  content: attr(data-text);
  top: 0;
  left: 0;
  color: #8FFF00; /* Color base */
  background: linear-gradient(to right, #8FFF00, #FF8C00, #FF0000); /* Gradiente de colores */
  background-clip: text;
  -webkit-background-clip: text;
  animation: fire 2s infinite alternate;
}

@keyframes fire {
  from {
    text-shadow: 0 0 10px #8FFF00, 0 0 20px #8FFF00, 0 0 30px #8FFF00, 0 0 40px #FF8C00, 0 0 50px #FF8C00, 0 0 60px #FF0000, 0 0 70px #FF8C00, 0 0 80px #8FFF00;
  }
  to {
    text-shadow: 0 0 20px #8FFF00, 0 0 40px #8FFF00, 0 0 60px #8FFF00, 0 0 80px #FF8C00, 0 0 100px #FF8C00, 0 0 120px #FF0000, 0 0 140px #FF8C00, 0 0 160px #8FFF00;
  }
}

.main-page {
  position: relative;
  width: 100%;
  height: 100vh; 
  margin-bottom: -40px; /* Reduzco el margen inferior para compensar */

  overflow: hidden; 
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}


.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 100px; 
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

button {
  background-color: #1C77AB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #14546D;
}



/****************************
          FOOTER
****************************/
.footer-container {
  background-color: #212121;
  color: white;
  padding: 50px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px; 
}

.social-icons img {
  width: 30px; 
  height: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/***************************
        COMO SE JUEGA
***************************/
.how-to-play {
  text-align: center;
  background-color: #1C1F20;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.card {
  width: 280px;
  height: 354px;
  margin-bottom: 200px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #ffffffee;
  border-radius: 5px;
 
}


.front-content img {
  width: 80%; /* Ajusta el ancho de la imagen según tus necesidades */
  padding-top: 50%;
  max-width: 200px; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  margin-bottom: 20px; /* Espacio inferior entre la imagen y el texto */
}



.front,
.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  top: 0; 
  left: 0; 
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: transparent;
  animation: rotation_481 5000ms infinite linear;
}
.card-footer {
  text-align: center; 
  font-size: 15px;
  color: #1C77AB;
}


.back-content {
  width: 99%;
  height: 99%;
  background-color: #182838;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

.title2 {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title2 p {
  width: 50%;
}

.title3 {
  margin-bottom: 50px;
  font-size: 3rem;
  color: #8FFF00;
}








