
.adminContainer {
  background-image: url('../../assets/pixelcut-export.jpeg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
}

.contentSection {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchContainer .input {
  padding: 10px;
  border: 2px solid #8707ff;
  border-radius: 7px;
  background: transparent;
  color: #8707ff;
}

.tableWrapper {
  width: 100%;
}

.col2 {
  display: flex;
  justify-content: space-between;
  width: 1216px;
  padding: 10px 0;
  background-color: #212121;
  color: #fff;
}

.tableContent {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  background-color: #212121;
  border-bottom: 1px solid #3E3E3E;
  color: #fff;
}

.col {
  flex: 1;
  padding: 0.5rem;
  text-align: center;
}

.actionCol {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 0.5em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn::before {
  content: "";
  background: linear-gradient(
     45deg,
     #FF0000, #002BFF, #FF00C8, #002BFF,
     #FF0000, #002BFF, #FF00C8, #002BFF
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}

