.how-to-play {
  text-align: center;
  background-color: #1C1F20;
  padding: 40px 0;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  height: 450px;
  background: #313131;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
  padding: 20px;
  position: relative;
}

.thumb-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.thumb-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.textBox {
  text-align: center;
  transition: 0.2s ease-in-out;
}

.card:hover .textBox {
  opacity: 1;
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.title3 {
  margin-bottom: 50px;
  font-size: 3rem;
  color: #8FFF00;
}

svg {
  fill: #8C8C8C;
}
