/****************************
         REGISTERPAGE
****************************/
.register-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.t-rex-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}
.titles {
    position: relative;
    bottom: 30px;
}
  
h5 {
    color: #ccc;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.computer-screen {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 500px;
}

h2 {
    font-size: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
    padding-top: 50px;
}
.input-group {
    margin-bottom: 20px;
    text-align: center;
    
}

input[type="email"],
input[type="text"],
input[type="password"] {
    background-color: #f3f3f3;
    width: 100%;
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;

}


.button-container {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;

}

button.buttonLog {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.buttonLog:hover {
    background-color: #45a049;
}

button[type="submit"] {
    margin-top: 20px;
}